schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="App">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="User" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Name" type="xs:string"/>
                                        <xs:element name="Surname" type="xs:string"/>
                                        <xs:element name="SkillLevel" type="xs:string"/>
                                        <xs:element name="PreferredCuisine" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Recipes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Recipe" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Title" type="xs:string"/>
                                        <xs:element name="CuisineTypes">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Cuisine" type="xs:string" maxOccurs="2"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DifficultyLevels">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Difficulty" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>